<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dan Girshovich - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="icon" type="image/gif" href="/img/favicon.png">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Dan Girshovich</a>
            </div>
            <nav>
                <a href="/index.html">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <!-- <a href="/archive.html">Archive</a> -->
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Built with
            <a href="https://www.gnu.org/software/emacs/">Emacs</a>, <a href="https://orgmode.org">Org</a>, <a href="http://jaspervdj.be/hakyll">Hakyll</a>, <a href="https://nixos.org">Nix</a>, and 🖤.
            <a href="https://github.com/dangirsh/dangirsh.org">Source</a>.
        </footer>
    </body>
</html>
